*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
[class*="col-"]{
    width: 100%;
}
/*Navbar*/
.navbar ul{
    list-style-type: none;
    padding: 15px 0 15px;
}
.navbar ul li{
    display: inline;
    padding-right:50px;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

/*for mobile fist*/
@media screen and (max-width: 767px){
    .navbar{
        background-color: gray;
    }
    .navbar ul{text-align: center;}
    h1{
        text-align: justify;
        padding: 20px 10px 15px 10px;
        font-family: 'Times New Roman', Times, serif;
    }
    .p1{
        text-align: justify;
        padding: 20px 10px 15px 10px;
        font-family: sans-serif;
    }
    .picture{
        width: 100%;
        height: auto;
        margin: 0px 0px 2px 0px;
        padding: 20px 10px 15px 10px;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #c0c0c0;
        border-right: 1px solid #c0c0c0;
        
    }
    .text{
        text-align: center;
        font-family: Arial, Sans-Serif;
        font-size: 11px;
        font-weight: normal;
        line-height: 12px;
        padding-bottom: 20px;
    }
}
/*for tablet*/
@media screen and (min-width:768px) and (max-width: 991px){
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    .navbar{
        background-color: gray;
    }
    .navbar ul li a{
        font-size: 20px;
        margin: 0px 20px 0 20px;
    }
    h1{
        text-align: justify;
        padding: 20px 10px 15px 10px;
        font-family: 'Times New Roman', Times, serif;
    }
    .p1{
        text-align: justify;
        padding: 20px 10px 15px 10px;
        font-family: sans-serif;
    }
    .picture{
        width: 100%;
        height: auto;
        margin: 0px 0px 2px 0px;
        padding: 20px 10px 15px 10px;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #c0c0c0;
        border-right: 1px solid #c0c0c0;
        
    }
    .text{
        text-align: center;
        font-family: Arial, Sans-Serif;
        font-size: 11px;
        font-weight: normal;
        line-height: 12px;
        padding-bottom: 20px;
    }
}
/*for desktop*/
@media screen and (min-width:992px){
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    /*nav PC*/
    .navbar{
        background-color: rgb(170, 205, 219);
    }
    .navbar ul li a{
        font-size: 20px;
        color: black;
        font-weight: bold;
        margin-right: 20px;
        padding-left: 20px;
    }
     h1{
        text-align: justify;
        padding: 20px 10px 15px 10px;
        font-family: 'Times New Roman', Times, serif;
    }
    .p1{
        text-align: justify;
        padding: 20px 10px 15px 10px;
        font-family: sans-serif;
    }
    .picture{
        display: block;
        width: 50%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 10px 15px 10px;
        
    }
    .text{
        text-align: center;
        font-family: Arial, Sans-Serif;
        font-size: 20px;
        font-weight: normal;
        line-height: 12px;
        padding-bottom: 20px;
    }
}